@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@;400;500;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap");



@import "utils/_variables";
@import"utils/_mixin";


@import "componentes/_header";
@import "componentes/_background";
@import "componentes/_services";
@import "componentes/_details";
@import "componentes/_chargues";
@import "componentes/_customer";
@import "componentes/_footer";
@import "componentes/_modal";
@import "componentes/_icons";
@import "componentes/_portafolio";



* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto";
}

/* quitar la decoracion de los enlaces*/
a {
  text-decoration: none;
}

/* quitar la decoracion de las listas */
ul {
  list-style: none;
}

img,
picture {
  width: 100%;
}

.container {
  margin-inline: auto;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}






