.images {
  display: none;
  @media (min-width: 1200px) {
    display: flex;
  }
}
.images-wedo {
  @include images-wedo(30px);
  justify-content: space-between;
}
.images-wedo__item {
  flex-basis: calc((100% - 90px) / 3);
  position: relative;
  .images-wedo__title {
    @extend %images-wedo__title;
  }
}
